Options All -Indexes
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET,POST,PUT,DELETE,OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type,Authorization,X-Requested-With"
    Header set Access-Control-Allow-Credentials "true"
</IfModule>
#RewriteRule ^([-a-zA-Z0-9/]+)$ index.php?%{QUERY_STRING} [L,NC]

# asegurando el archivo htaccess

<Files .htaccess>
order allow,deny
deny from all
</Files>

