<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="index.php"></a>inicio</li>
            <li><a href="nosotros.php"></a>nosotros</li>
            <li><a href="cpntactar.php"></a>contactar</li>
            <li><a href="https://w3schools.com" target="new"></a>ir a w3</li>
        </ul>
    </nav>