/***************************
  Variables del Header
 **************************/

// Header Principal
$fondo_header: #2F4550;
$fuente_header: #F4F4F9;

// Login Usuario
$fondo_login_user: #000000;
$fuente_login_user: #F4F4F9;

$fondo_btn_login: #B8DBD9;

// Header Languages
$active_lang: #D62222;

// NAV
$fondo_nav: #586F7C;
$elemento_nav: rgba(255, 255, 255, 0.5);
$elemento_nav_hover: rgba(255, 255, 255, 1);

// breadcrumb
$fondo_breadcrumb: transparent;

/***************************
  Variables del Footer
 **************************/

// Footer Principal
$fondo_footer: #2F4550;
$fuente_footer: #F4F4F9;

// Globales
$blanco_global: #F4F4F9;
$blanco_total: #fff;


// Botón Standard
$color_btn_standard: #495057;
$fondo_btn_standard: #e9ecef;
$borde_btn_standard: #ced4da;

